p{
    font-family: sans-serif;
    color: grey;
}
div{
    width: 100%;
    height: 100%;
}
svg{
    width: 100%;
    height: 100%;
}
rect{
    fill: gold;
    stroke: #999999;
    stroke-width: 2px;
}



/*html, body {*/
/*    margin: 0;*/
/*    height: 100%;*/

/*}*/

/*line {*/

/*    stroke: brown;*/
/*    stroke-width: 3;*/
/*}*/

/*g.hidden line,*/
/*g.hidden path{*/
/*    display: none;*/
/*}*/

/*g.grp3 circle,*/
/*g.grp3 path,*/
/*g.grp4 path,*/
/*g.grp0 circle{*/
/*    stroke: orange;*/
/*    fill: none;*/
/*    stroke-width: 3;*/

/*}*/

/*g.tick line{*/
/*    stroke: green;*/

/*}*/

/*g.tick text{*/

/*    font-size: 12:px;*/
/*    fill: blue;*/
/*}*/
