/*Tab buttons*/
.tabs {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button{
    height: 100%;
    width: 33.3333%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover {
    background-color: #ddd;
}
.tabs button.active {
    background-color: #ccc;
}
/* Visualization screen and panels */
.visgrid{
    display: none;
    grid-gap: 7px;
    grid-auto-columns: 50%;
    grid-auto-rows: 50%;
    position: relative;
    margin-top: 3px;
    width:calc(100% - 7px);
    height: calc(100% - 135px);
}
.visgrid__panel{
    position: relative;
    background-color: #dddddd;
    overflow: auto;
}
.visgrid__panel--description{
    background-color: #eeeeee;
}

/* Tournament view */
.tournament-view{
    display: none;
    position: relative;
    margin-top: 3px;
    width:calc(100% - 7px);
    height: calc(100% - 135px);
    background-color: #dddddd;
}

/* Dropdown menus */
.visgrid__dropdown-menu{
    position: fixed;
    display: inline-block;
    opacity: 0.3;
}

.visgrid__dropdown-menu button{
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;

}

.visgrid__dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.visgrid__dropdown-content button {
    background-color: #cecece;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    min-width: 100%;

}
.visgrid__dropdown-menu button:hover, .visgrid__dropdown-menu button:focus {background-color: #00954b;}
.visgrid__dropdown-menu:hover, .visgrid__dropdown-menu:focus {opacity: 1; }
.visgrid__dropdown--show {display: block; }

.visgrid__dropdown-content:hover {background-color: #ddd}


/* Leftovers */
#myDiv {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
p{
    font-family: sans-serif;
    color: grey;
}
svg{
    width: 100%;
    height: 100%;
}
rect{
    stroke: #999999;
    stroke-width: 2px;
}